/*Styling the html file*/
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*declaring the color of the body*/
:root{
 --dark-grey:#0a0a23;
 --white:#ffffff;
 --yellow:#f1be32;
}
/*styling the body*/
body{
    color:var(--white);
    background-color:var(--dark-grey);
}
/*styling the container-title*/
.title-container{
    margin: 10px 0;
    display:flex;
    align-items:center;
    gap:8px;
}
/*styling the title*/
.title{
    font-size:2.5rem;
}
/*styling the svg*/
.date-svg{
    width: 30px;
    height:30px;
}